a.tip {
    border-bottom: 1px dashed;
    text-decoration: none
}
a.tip:hover {
    
    position: relative
}
a.tip span {
    display: none;
}
a.tip:hover span {

    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #000000 no-repeat 100% 5%;
    color: white;
    left: 0px;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 350px;
    position: absolute;
    top: 10px;
    text-decoration: none
}